<div class="page-header">
  <h2>Gestión de Fechas</h2>
  <button class="btn-agregar" (click)="mostrarAgregar()">+ Agregar Fecha</button>
</div>

@if (mensajeError) {
<div class="error-msg">{{ mensajeError }}</div>
}

@if (mostrarFormulario) {
<div class="form-card">
  <input #nuevaFechaInput [(ngModel)]="nuevaFechaNombre" placeholder="Nombre de la fecha" />
  <input type="date" [(ngModel)]="nuevaFechaInicio" placeholder="Inicio" />
  <input type="date" [(ngModel)]="nuevaFechaFin" placeholder="Fin" />
  <div class="btn-group">
    <button (click)="agregarFecha()">Guardar</button>
    <button (click)="cancelarAgregar()">Cancelar</button>
  </div>
</div>
}

<table border="1" cellpadding="8" cellspacing="0">
  <thead>
  <tr>
    <th>ID</th>
    <th>Nombre</th>
    <th>Estado</th>
    <th>Inicio</th>
    <th>Fin</th>
    <th>Acciones</th>
  </tr>
  </thead>
  <tbody>
  @for (fecha of fechas; track fecha.idFecha) {
  <tr>
    <td (click)="verPartidos(fecha)" style="cursor: pointer;" >{{ fecha.idFecha }}</td>
    <td >
      @if (editandoId === fecha.idFecha) {
      <input #editInput [(ngModel)]="nombreEditando" (keyup.enter)="guardarEdicion(fecha.idFecha)" />
      } @else {

      {{ fecha.nombreFecha }}
      }
    </td>
    <td>{{ fecha.estadoFecha }}</td>
    <td>
      @if (editandoId === fecha.idFecha) {
      <input type="date" [(ngModel)]="inicioEditando" style="margin-right: 4px;" />
      } @else {
      {{ fecha.inicioFecha | date:'dd/MM/yyyy' }}
      }
    </td>
    <td>@if (editandoId === fecha.idFecha) {
      <input type="date" [(ngModel)]="finEditando" style="margin-right: 4px;" />
      } @else {
      {{ fecha.finFecha | date:'dd/MM/yyyy' }}
      }</td>
    <td>
      @if (editandoId !== fecha.idFecha) {
      <button (click)="empezarEditar(fecha); $event.stopPropagation()">Editar</button>
      <button (click)="eliminar(fecha.idFecha); $event.stopPropagation()">Eliminar</button>
      }
      @if (editandoId === fecha.idFecha) {
      <button (click)="guardarEdicion(fecha.idFecha)" [disabled]="guardando">Guardar</button>
      <button (click)="cancelarEdicion()">Cancelar</button>
      }
    </td>
  </tr>
  }
  </tbody>
</table>
